<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico"> -->

    <title>pdf to h5p Converter</title>


    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- For icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">PDF to h5p Converter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="." id="HomeButton">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <main role="main" class="container" style="height: 150px;">

        <div class="starter-template" style="padding: 10px;">
            <h1>PDF to h5p Converter</h1>
            <p class="lead"> Upload an PDF to generate h5p content<br>
        </div>

    </main><!-- /.container -->
    <div class="container-fluid  justify-content-center align-items-center" style="height:200px">
        <div class="col-md-12  " style=" padding-top: 10px;">
            <form class="form-horizontal justify-content-center align-items-center" action="/submit" method="post"
                enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label col-sm-6" for="pwd" style="min-width: 500px;"></label>
                    <div class="col-sm-6">
                        <input type="file" class="form-control"id="my_pdf_file" name="my_pdf_file" accept=".pdf" onchange="SubmitButtonEnabler(validateddpi,validatedres)">
                    </div>
                    <div class="col-sm-6">
                        <label for="dpi">DPI (Enter value between 100 and 800):</label><br>
                        <input type="text" id="dpi" name="dpi" value="600" onkeyup='validate_dpi()'><br>
                    </div>
                    <div class="col-sm-6">
                        <label for="dpi">Resolution (Enter value between 400 and 3000):</label><br>
                        <input type="text" id="resolution" name="resolution" value="1980"  onkeyup='validate_resolution()'><br>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success" id="submitBtn">Download h5p</button>
                    </div>
                </div>
            </form>
        </div>



    </div>
    </div>
    {% if prediction %}
    <br />
    <br />
    <br />
    <div class="container-fluid  justify-content-center align-items-center">
        <div class="row justify-content-center align-items-center" style="background-color: rgb(69, 189, 253);">
            <form class="form-horizontal justify-content-center align-items-center" action="/download" method="post"
            enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" id="submitBtn">Upload and Convert</button>
                </div>
            </div>
            </form>

        </div>

    </div>
    {% endif %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>

        let validateddpi = true;
        let validatedres = true;
        let uploadButtonDOM = document.getElementById("submitBtn")
        SubmitButtonEnabler();

        function SubmitButtonEnabler(validateddpi,validatedres)
        {
            if(validateddpi == false || validatedres == false || document.getElementById("my_pdf_file").files.length == 0)
                uploadButtonDOM.disabled= true
            else
                uploadButtonDOM.disabled = false;
            
        }
        


        let dpiDOM = document.getElementById("dpi")
        let resolutionDOM = document.getElementById("resolution")


        function validate_dpi() {
            if (dpiDOM.value < 100 || dpiDOM.value > 900) {
                alert("Enter dpi value within Range")
                // dpiDOM.value = 600
                validateddpi = false
            }
            else
            {
                validateddpi = true
            } 
            SubmitButtonEnabler(validateddpi,validatedres)


        }


        function validate_resolution() {
            if (resolutionDOM.value < 500 || resolutionDOM.value > 3000) {
                alert("Enter resolution value within range")
                // resolutionDOM.value = 1920
                validatedres = false
            } 
            else
            {
                validatedres = true;
            }
            SubmitButtonEnabler(validateddpi,validatedres)
        }



    </script>
    <script src="jquery-3.3.1.slim.min.js"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
</body>

</html>